<div class="login-container">
  <div class="box">
    <div class="form">
        <h2>Reset Password</h2>
        <div class="inputBox">
          <input type="password" required="required">
          <span>New Passsword</span>
          <i class="i"></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required">
          <span>Confirm Password</span>
          <i class="i"></i>
          <i class="fas fa-eye"></i>
        </div>
        <br>
        <div class="errors">
          <span>Password does'nt match</span>
        </div>
        <div>
          <a href="#" (click)="login()">Back to login</a>
        <input type="submit" class="login-button" value="Submit" >
      </div>
    </div>
  </div>
  </div>
