<nav class="navbar navar-default">
 <div class="container-fluid">
  <ul class="nav">
    <li><mat-icon class="mat-18" style="cursor: pointer;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">menu</mat-icon></li>
    <li>Abou</li>
    <li>Theme</li>
    <li>Frust</li>
    <li>Beat</li>
  </ul>
  <ul class="nav">
    <li>
      <i class="fas fa-search" style="margin-right: 10px;height: 20px;"></i>
      <input type="search" class="form-control" [(ngModel)]="searchData" style="height: 30px;width: 150px;display: inline-block;" placeholder="search ..">
    </li>
    <li>
        profile&nbsp;&nbsp;
        <img src="../../../assets/images/rose.jpg" class="img" alt="">
    </li>
  </ul>
</div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav">
      <li class="nav-item" *ngFor="let data of navData">
        <a href="" class="nav-link" [routerLink]="[data.routeLink]" >
          <i  [class]="data.icon"></i>
          <span class="ml-3" >{{data.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
